# Database
DATABASE_URL=postgresql://fantastar:fantastar@localhost:5432/fantastar

# Redis
REDIS_URL=redis://localhost:6379/0

# API Keys
FOOTBALL_DATA_ORG_KEY=82561b77e24f4bf3aa421051b0173864
THESPORTSDB_KEY=3
BZZOIRO_KEY=28c78de965b7d0e0fdfb80b4782c10f5d0ab3434

# JWT
JWT_SECRET=cambiami-in-produzione
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# App
APP_NAME=FANTASTAR
SERIE_A_SEASON=2025
DEBUG=true
