.DS_Store
__pycache__/
*.pyc
.env
*.egg-info/
dist/
build/
.venv/
node_modules/
.next/
*.sqlite3
media/player_photos/
media/team_badges/
media/team_jerseys/
media/avatars/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
firebase-credentials.json
backend/firebase-credentials.json
backend/secrets/openai_api_key.txt
backend/secrets/github_token.txt
